table{
    width: 100%;
}

.headTable{
    width: 50%;
    font-size: 40px;
    color: orange;
    text-align: left;
}

.firstColunm{
    width: 50%;
    text-align: left;
}

.colunm{
    width: 25%;
    text-align: left;
}