table{
    width: 100%;
}

.title{
    text-align: center;
    font-size: 80px;
    color: red;
}

.list{
    text-align: center;
    font-size: 60px;
    color: blue;
}

.hideFooter{
    text-align: center;
    display: none;
}

.showFooter{
    text-align: center;
    display: block;
}

.headTable{
    width: 50%;
    font-size: 40px;
    color: orange;
    text-align: left;
}

.firstColunm{
    width: 50%;
    text-align: left;
}

.colunm{
    width: 25%;
    text-align: left;
}

button{
    border-radius: 40px;
    font-size: 30px;
    background: #E0F1FF;
}
