.title{
    text-align: center;
    font-size: 80px;
    color: red;
}

.list{
    text-align: center;
    font-size: 60px;
    color: blue;
}

.hideFooter{
    text-align: center;
    display: none;
}

.showFooter{
    text-align: center;
    display: block;
}

.headTable{
    font-size: 40px;
    color: greenyellow;
}

.firstColunm{
    width: 50%;
}

.colunm{
    width: 25%;
}
